# Raw data
data/raw/*.csv

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db
data/raw/*.zip

# Processed geolocation is generated locally for future geographic analysis
data/processed/geolocation_clean.csv